Repository omegat-org/omegat, pull requests merged in 2023-09, with the labels that each got.

#717 fix/refactor: tweaks of Log calls and improvement to use SLF4J for logging
  build.gradle
  src/org/omegat/Bundle.properties
  src/org/omegat/Main.java
  src/org/omegat/core/data/LastSegmentManager.java
  src/org/omegat/core/data/RealProject.java
  src/org/omegat/core/dictionaries/DictionariesManager.java
  src/org/omegat/core/segmentation/SRX.java
  src/org/omegat/core/spellchecker/SpellChecker.java
  src/org/omegat/core/team2/RebaseAndCommit.java
  src/org/omegat/core/team2/RemoteRepositoryProvider.java
  src/org/omegat/core/team2/impl/FileRepository.java
  src/org/omegat/core/team2/impl/GITCredentialsProvider.java
  src/org/omegat/core/team2/impl/GITExternalGpgSigner.java
  src/org/omegat/core/team2/impl/GITRemoteRepository2.java
  src/org/omegat/core/team2/impl/HTTPRemoteRepository.java
  src/org/omegat/core/team2/impl/SVNAuthenticationManager.java
  src/org/omegat/core/team2/impl/SVNRemoteRepository2.java
  src/org/omegat/core/threads/SaveThread.java
  src/org/omegat/filters2/master/FilterMaster.java
  src/org/omegat/filters2/master/PluginUtils.java
  src/org/omegat/gui/dialogs/VersionCheckDialog.java
  src/org/omegat/gui/editor/EditorController.java
  src/org/omegat/gui/glossary/GlossaryManager.java
  src/org/omegat/languagetools/LanguageToolNativeBridge.java
  src/org/omegat/languagetools/LanguageToolNetworkBridge.java
  src/org/omegat/logger.properties
  src/org/omegat/util/Log.java
  src/org/omegat/util/StaticUtils.java
  src/org/omegat/util/TMXReader2.java
  src/org/omegat/util/VersionChecker.java
  src/org/omegat/util/gui/FontFallbackManager.java
  src/org/omegat/util/gui/Styles.java
  src/org/omegat/util/logging/OmegaTFileHandler.java
Labels: enhancement, refactoring

#731 [BUGS#1123] fix: remove duplicated document installation
  build.gradle
Labels: build/release

#734 [RFE#1682] fix: Support Java 17 runtime and ensure CI test on Java17
  build.gradle
  ci/azure-pipelines/check_steps.yml
  src/org/omegat/Main.java
  src/org/omegat/gui/glossary/GlossaryReaderTBX.java
  test/src/org/omegat/filters2/master/FilterMasterTest.java
  test/src/org/omegat/gui/glossary/GlossaryReaderTBXTest.java
Labels: java17, build/release

#742 chore: build tipofthday module as fatjar
  build.gradle
  tipoftheday/build.gradle
Labels: build/release

#741 [RFE#1714] chore: build languagetool as modules
  build.gradle
  languagetools/build.gradle
  languagetools/src/ar/java/org/omegat/languagetool/language/ArabicPlugin.java
  languagetools/src/ast/java/org/omegat/languagetool/language/AsturianPlugin.java
  languagetools/src/be/java/org/omegat/languagetool/language/BelarusianPlugin.java
  languagetools/src/br/java/org/omegat/languagetool/language/BretonPlugin.java
  languagetools/src/ca/java/org/omegat/languagetool/language/CatalanPlugin.java
  languagetools/src/da/java/org/omegat/languagetool/language/DanishPlugin.java
  languagetools/src/de/java/org/omegat/languagetool/language/GermanPlugin.java
  languagetools/src/el/java/org/omegat/languagetool/language/GreekPlugin.java
  languagetools/src/en/java/org/omegat/languagetool/language/EnglishPlugin.java
  languagetools/src/eo/java/org/omegat/languagetool/language/EsperantoPlugin.java
  languagetools/src/es/java/org/omegat/languagetool/language/SpanishPlugin.java
  languagetools/src/fa/java/org/omegat/languagetool/language/PersianPlugin.java
  languagetools/src/fr/java/org/omegat/languagetool/language/FrenchPlugin.java
  languagetools/src/ga/java/org/omegat/languagetool/language/IrishPlugin.java
  languagetools/src/gl/java/org/omegat/languagetool/language/GalicianPlugin.java
  languagetools/src/it/java/org/omegat/languagetool/language/ItalianPlugin.java
  languagetools/src/ja/java/org/omegat/languagetool/language/JapanesePlugin.java
  languagetools/src/km/java/org/omegat/languagetool/language/KhmerPlugin.java
  languagetools/src/nl/java/org/omegat/languagetool/language/DutchPlugin.java
  languagetools/src/pl/java/org/omegat/languagetool/language/PolishPlugin.java
  languagetools/src/pt/java/org/omegat/languagetool/language/PortuguesePlugin.java
  languagetools/src/ro/java/org/omegat/languagetool/language/RomanianPlugin.java
  languagetools/src/ru/java/org/omegat/languagetool/language/RussianPlugin.java
  languagetools/src/sk/java/org/omegat/languagetool/language/SlovakPlugin.java
  languagetools/src/sl/java/org/omegat/languagetool/language/SlovenianPlugin.java
  languagetools/src/sv/java/org/omegat/languagetool/language/SwedishPlugin.java
  languagetools/src/ta/java/org/omegat/languagetool/language/TamilPlugin.java
  languagetools/src/tl/java/org/omegat/languagetool/language/TagalogPlugin.java
  languagetools/src/uk/java/org/omegat/languagetool/language/UkrainianPlugin.java
  languagetools/src/zh/java/org/omegat/languagetool/language/ChinesePlugin.java
  settings.gradle
Labels: build/release

#743 refactor: avoid script engine initialization in static context
  build.gradle
  src/org/omegat/gui/scripting/ScriptRunner.java
  src/org/omegat/gui/scripting/ScriptingWindow.java
  src/org/omegat/gui/scripting/ScriptsMonitor.java
  test/src/org/omegat/gui/scripting/ScriptingTest.java
Labels: refactoring

#746 fix(ci): iscc failed with a file not found
  release/win32-specific/OmegaT.iss
Labels: bug, build/release

#738 l10n: removal of unused property
  src/org/omegat/Bundle.properties
  src/org/omegat/Bundle_be.properties
  src/org/omegat/Bundle_ca.properties
  src/org/omegat/Bundle_co.properties
  src/org/omegat/Bundle_cs.properties
  src/org/omegat/Bundle_cy.properties
  src/org/omegat/Bundle_da.properties
  src/org/omegat/Bundle_de.properties
  src/org/omegat/Bundle_el.properties
  src/org/omegat/Bundle_es.properties
  src/org/omegat/Bundle_eu.properties
  src/org/omegat/Bundle_fi.properties
  src/org/omegat/Bundle_fr.properties
  src/org/omegat/Bundle_gl.properties
  src/org/omegat/Bundle_hr.properties
  src/org/omegat/Bundle_hu.properties
  src/org/omegat/Bundle_ia.properties
  src/org/omegat/Bundle_id.properties
  src/org/omegat/Bundle_it.properties
  src/org/omegat/Bundle_ja.properties
  src/org/omegat/Bundle_ko.properties
  src/org/omegat/Bundle_mfe.properties
  src/org/omegat/Bundle_nl.properties
  src/org/omegat/Bundle_no.properties
  src/org/omegat/Bundle_pl.properties
  src/org/omegat/Bundle_pt.properties
  src/org/omegat/Bundle_pt_BR.properties
  src/org/omegat/Bundle_ru.properties
  src/org/omegat/Bundle_sc.properties
  src/org/omegat/Bundle_sl.properties
  src/org/omegat/Bundle_sv.properties
  src/org/omegat/Bundle_tk.properties
  src/org/omegat/Bundle_tr.properties
  src/org/omegat/Bundle_uk.properties
  src/org/omegat/Bundle_zh_CN.properties
  src/org/omegat/Bundle_zh_TW.properties
  src/org/omegat/gui/dialogs/ProjectPropertiesDialog.java
  src/org/omegat/gui/search/SearchWindowController.java
Labels: refactoring, L10N/Translation

#737 feat(filter/bundle): change default not to do a Unicode escape (java 9-21 standard)
  src/org/omegat/filters2/text/bundles/ResourceBundleFilter.java
  src/org/omegat/filters2/text/bundles/ResourceBundleOptionsDialog.java
  test/src/org/omegat/filters/ResourceBundleFilterTest.java
Labels: enhancement

#740 [BUGS#1185] Saving does not register pre-translation in new projects
  release/changes.txt
  src/org/omegat/core/data/ImportFromAutoTMX.java
  src/org/omegat/core/data/RealProject.java
Labels: bug

#751 chore: annotate spotbugs errors on github PR
  .github/workflows/checkstyle-annotate.yml
  .github/workflows/spotbugs-annotate.yml
  azure-pipelines.yml
  ci/azure-pipelines/check_steps.yml
  ci/azure-pipelines/test_java17_steps.yml
  ci/azure-pipelines/test_steps.yml
Labels: build/release

#744 Chore(Gradle): use version catalog to resolve dependencies conflct
  build.gradle
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  languagetools/build.gradle
  machinetranslators/apertium/build.gradle
  machinetranslators/belazar/build.gradle
  machinetranslators/deepl/build.gradle
  machinetranslators/google/build.gradle
  machinetranslators/ibmwatson/build.gradle
  machinetranslators/mymemory/build.gradle
  machinetranslators/yandex/build.gradle
  tipoftheday/build.gradle
Labels: build/release

#739 chore: release bundles Java Runtime 17.0.8.1_1
  build.gradle
  ci/azure-pipelines/build_steps.yml
Labels: build/release

#736 [RFE#1713] feat(filter/bundle): make "don't translate NOI18N comment" feature optional
  src/org/omegat/Bundle.properties
  src/org/omegat/filters2/text/bundles/ResourceBundleFilter.java
  src/org/omegat/filters2/text/bundles/ResourceBundleOptionsDialog.form
  src/org/omegat/filters2/text/bundles/ResourceBundleOptionsDialog.java
Labels: enhancement

#750 chore: styles: checkstyle: enforce rules and suppress warnings on auto-generated files
  config/checkstyle/checkstyle.xml
  config/checkstyle/suppressions.xml
  machinetranslators/deepl/src/main/java/org/omegat/core/machinetranslators/DeepLTranslate.java
  src/org/omegat/core/data/ProjectProperties.java
  src/org/omegat/core/machinetranslators/BaseTranslate.java
  src/org/omegat/core/statistics/StatProjectProperties.java
  src/org/omegat/core/team2/RemoteRepositoryProvider.java
  src/org/omegat/core/team2/gui/PassphraseDialog.java
  src/org/omegat/filters2/html2/HTMLWriter.java
  src/org/omegat/filters2/master/FiltersTableModel.java
  src/org/omegat/filters4/xml/openxml/MsOfficeFileFilter.java
  src/org/omegat/filters4/xml/xliff/SdlXliff.java
  src/org/omegat/filters4/xml/xliff/Xliff1Filter.java
  src/org/omegat/gui/accesstool/AccessTools.java
  src/org/omegat/gui/accesstool/ProjectFileInformation.java
  src/org/omegat/gui/accesstool/QuickAccess.java
  src/org/omegat/gui/common/EntryInfoThreadPane.java
  src/org/omegat/gui/dialogs/AboutDialog.java
  src/org/omegat/gui/dialogs/FilenamePatternsEditorController.java
  src/org/omegat/gui/dialogs/NewTeamProjectController.java
  src/org/omegat/gui/dictionaries/DictionaryPopup.java
  src/org/omegat/gui/editor/EditorTextArea3.java
  src/org/omegat/gui/editor/IEditorSettings.java
  src/org/omegat/gui/exttrans/MachineTranslateTextArea.java
  src/org/omegat/gui/glossary/GlossaryReaderTBX.java
  src/org/omegat/gui/glossary/GlossaryTextArea.java
  src/org/omegat/gui/main/ProjectUICommands.java
  src/org/omegat/gui/multtrans/MultipleTransPane.java
  src/org/omegat/gui/preferences/MainMenuUI.java
  src/org/omegat/gui/preferences/view/TMMatchesPreferencesPanel.java
  src/org/omegat/util/FileUtil.java
  src/org/omegat/util/HttpConnectionUtils.java
  src/org/omegat/util/Language.java
  src/org/omegat/util/gui/DesktopWrapper.java
  src/org/omegat/util/gui/JTextPaneLinkifier.java
  src/org/omegat/util/gui/UIDesignManager.java
  src/org/omegat/util/gui/UIScale.java
  test-integration/src/org/omegat/core/data/TestTeamIntegration.java
  test-integration/src/org/omegat/util/logging/TestLogFileHandler.java
  test/src/org/omegat/core/dictionaries/LingvoDSLTest.java
  test/src/org/omegat/core/statistics/FindMatchesTest.java
  test/src/org/omegat/filters4/OpenXMLFilterTest.java
  test/src/org/omegat/filters4/Xliff1FilterTest.java
  test/src/org/omegat/gui/main/MainWindowMenuTest.java
  test/src/org/omegat/util/MagicCommentTest.java
  test/src/svn/PluginsTest.java
Labels: build/release, refactoring

#752 chore: add spotbugsReport task in Gradle and run it on CI
  .github/workflows/spotbugs-annotate.yml
  build.gradle
  ci/github/problem-matcher.json
  languagetools/build.gradle
Labels: build/release

#729 feat: align tool as module
  aligner/build.gradle
  aligner/plugin.properties
  aligner/src/main/java/org/omegat/gui/align/AlignFilePicker.form
  aligner/src/main/java/org/omegat/gui/align/AlignFilePicker.java
  aligner/src/main/java/org/omegat/gui/align/AlignFilePickerController.java
  aligner/src/main/java/org/omegat/gui/align/AlignMenuFrame.form
  aligner/src/main/java/org/omegat/gui/align/AlignMenuFrame.java
  aligner/src/main/java/org/omegat/gui/align/AlignPanel.form
  aligner/src/main/java/org/omegat/gui/align/AlignPanel.java
  aligner/src/main/java/org/omegat/gui/align/AlignPanelController.java
  aligner/src/main/java/org/omegat/gui/align/Aligner.java
  aligner/src/main/java/org/omegat/gui/align/AlignerModule.java
  aligner/src/main/java/org/omegat/gui/align/EditingPanel.form
  aligner/src/main/java/org/omegat/gui/align/EditingPanel.java
  aligner/src/main/java/org/omegat/gui/align/EditingPanelController.java
  aligner/src/main/java/org/omegat/gui/align/MutableBead.java
  aligner/src/main/java/org/omegat/gui/align/PatternPanelController.java
  aligner/src/main/java/org/omegat/gui/align/SplittingPanelController.java
  aligner/src/main/java/org/omegat/gui/align/Util.java
  aligner/src/main/resources/org/omegat/gui/align/Bundle.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_be.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_ca.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_cs.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_de.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_es.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_eu.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_fi.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_fr.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_hr.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_ia.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_it.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_ja.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_ko.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_nl.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_no.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_pl.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_pt.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_pt_BR.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_ru.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_sc.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_sv.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_tk.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_tr.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_uk.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_zh_CN.properties
  aligner/src/main/resources/org/omegat/gui/align/Bundle_zh_TW.properties
  aligner/src/test/java/org/omegat/gui/align/AlignerTest.java
  aligner/src/test/resources/data/align/heapSource.txt
  aligner/src/test/resources/data/align/heapTarget.txt
  aligner/src/test/resources/data/align/idSource.properties
  aligner/src/test/resources/data/align/idTarget.properties
  aligner/src/test/resources/data/align/parseSource.txt
  aligner/src/test/resources/data/align/parseTarget.txt
  build.gradle
  settings.gradle
  src/org/omegat/Bundle.properties
  src/org/omegat/gui/main/BaseMainWindowMenu.java
  src/org/omegat/gui/main/MainWindowMenuHandler.java
Labels: build/release, refactoring

#753 chore: fix integration-test to be compatible with Gradle version 8.3
  build.gradle
  config/spotless/eclipse-formatting.xml
  gradle/libs.versions.toml
  gradle/utils.gradle
  test-integration/docker/client/Dockerfile
  test-integration/docker/client/entrypoint.sh
Labels: build/release

#754 chore(ci/azure pipelines): fix integration test script for weekly release
  azure-pipelines.yml
  ci/azure-pipelines/integ_test_steps.yml
Labels: build/release

#755 chore: refactor: Gradle cache support and rewrite deprecated convention
  build.gradle
  gradle/utils.gradle
  src/org/omegat/Version.properties
Labels: build/release, refactoring

#604 feat: make repository connectors as plugin
  Plugins.properties
  build.gradle
  src/org/omegat/core/team2/RemoteRepositoryFactory.java
  src/org/omegat/core/team2/impl/FileRepository.java
  src/org/omegat/core/team2/impl/GITRemoteRepository2.java
  src/org/omegat/core/team2/impl/HTTPRemoteRepository.java
  src/org/omegat/core/team2/impl/SVNRemoteRepository2.java
  src/org/omegat/filters2/master/PluginUtils.java
Labels: enhancement

#757 [BUGS#812] refactor: remove workaround for old JNA bug
  src/org/omegat/Main.java
Labels: bug, refactoring
